$main-color: #89c1e7;

#Navbar {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    padding: 0;
    background-color: $main-color;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.13);

    transition-duration: 0.3s;


    .navbarItem a {
        box-sizing: border-box;
        display: flex;
        padding: 0 1vw;
        background-color: $main-color;
        user-select: none;
        line-height: 100%;
        text-decoration: none;
        transition: color .1s linear;
        color: inherit;

        &.current {
            font-weight: 700;
            color: white;
        }

        &.inactive {

            &:hover {
                color: white;
                cursor: pointer;
            }
        }


        &:active {
            background-color: $main-color;

        }


    }

}