#Navbar {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    padding: 0;
    background-color: #ffcd21;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.13);

    .navbarItem {
        padding: 0 1vw;
        background-color: #ffcd21;

        user-select: none;

        &.current {
            font-weight: 700;
            color: white;
        }

        &.inactive {
            box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.171);

            &:hover {
                filter: brightness(105%);
                cursor: pointer;
            }
        }


        &:active {
            background-color: #ffcd21;

        }


    }

}