#Navbar {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    padding: 0;
    background-color: rgb(247, 140, 0);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.13);

    .navbarItem {
        padding: 0 1vw;
        background-color: antiquewhite;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.151);
        user-select: none;

        &.current {
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.151);

            &:hover {
                background-color: antiquewhite;
            }
        }

        &:hover {
            background-color: rgb(132, 130, 240);
            cursor: pointer;
        }

        &:active {
            background-color: antiquewhite;

        }


    }

}