#cardContainer {
    position: relative;
    margin-top: 10vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 2fr));
    grid-gap: 1rem;

    .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1.5rem 1.5rem 0 1.5rem;
        background-color: white;
        border-radius: .3rem;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.20);
        cursor: pointer;
        z-index: 1;

        img {
            margin: 1rem;
            width: 80%;
            align-self: center;
        }

        .title {
            font-family: 'Maven Pro', sans-serif;
            font-size: 1em;
        }

        &:hover {
            filter: drop-shadow(3px 3px 9px rgba(0, 0, 0, 0.40));
            z-index: 0;
        }

        .vBtn {
            width: 6rem;
        }
    }
}