#cardContainer {
    position: relative;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    grid-gap: 1rem;
    align-items: center;


    .card {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 1.5rem 1.5rem 0 1.5rem;
        height: 38vh;
        border-radius: 2dp;
        cursor: pointer;
        z-index: 1;

        //background image
        background-repeat: no-repeat;
        background-position-x: 0px;
        background-size: 100% 100%;

        //border
        border: 1px solid #CDCDCD;
        border-radius: 5px;

        //transition props
        transition-duration: 0.3s;

        img {
            margin: 1rem;
            width: 80%;
            align-self: center;
        }

        .title {
            font-family: 'Maven Pro', sans-serif;
            font-size: 1em;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        }

        .vBtn {
            justify-self: flex-end;
            position: relative;
            bottom: 0;
            width: 6rem;
        }

        .footer {

            //position
            bottom: 1em;
            position: relative;

            //display
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3em;
            width: 7em;
            align-self: center;
            text-align: center;

            background-color: #89c1e7;

            //border
            border-radius: 3px;

            h3 {
                color: white;
                font-size-adjust: 0.7;
            }
        }
    }
}