#cardContainer {
    position: relative;
    margin-top: 10vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    grid-gap: 1rem;
    align-items: center;

    .card {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 1.5rem 1.5rem 0 1.5rem;
        height: 38vh;
        background-color: white;
        border-radius: .3rem;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.20);
        cursor: pointer;
        z-index: 1;

        background-repeat: no-repeat;
        background-position-x: 0px;
        background-size: 100% 100%;

        img {
            margin: 1rem;
            width: 80%;
            align-self: center;
        }

        .title {
            font-family: 'Maven Pro', sans-serif;
            font-size: 1em;
        }

        &:hover {
            filter: drop-shadow(3px 3px 9px rgba(0, 0, 0, 0.40));
            z-index: 0;
        }

        .vBtn {
            justify-self: flex-end;
            position: relative;
            bottom: 0;
            width: 6rem;
        }

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: -1.5rem -1.5rem 0 -1.5rem;
            height: 15%;
            width: auto;
            background-color: rgb(37, 37, 37);
            bottom: 0;
            border-bottom-left-radius: .3rem;
            border-bottom-right-radius: .3rem;

            h3 {
                color: white;
                font-size-adjust: 0.8;
            }
        }
    }
}